src/TaskSchedulerHost/TaskScheduler/bin/
src/TaskSchedulerHost/TaskScheduler/obj/
src/TaskSchedulerHost/TaskSchedulerHost/bin/
src/TaskSchedulerHost/TaskSchedulerHost/obj/
src/TaskSchedulerHost/TaskSchedulerModel/bin/
src/TaskSchedulerHost/TaskSchedulerModel/obj/
src/TaskSchedulerHost/TaskSchedulerRepository/bin/
src/TaskSchedulerHost/TaskSchedulerRepository/obj/
src/TaskSchedulerHost/TaskSchedulerRepositoryTest/bin/
src/TaskSchedulerHost/TaskSchedulerRepositoryTest/obj/
