src/TaskSchedulerHost/TaskScheduler/bin/
src/TaskSchedulerHost/TaskScheduler/obj/
src/TaskSchedulerHost/TaskSchedulerHost/bin/
src/TaskSchedulerHost/TaskSchedulerHost/obj/
src/TaskSchedulerHost/TaskSchedulerModel/bin/
src/TaskSchedulerHost/TaskSchedulerModel/obj/
src/TaskSchedulerHost/TaskSchedulerRespository/bin/
src/TaskSchedulerHost/TaskSchedulerRespository/obj/
src/TaskSchedulerHost/TaskSchedulerRespositoryTest/bin/
src/TaskSchedulerHost/TaskSchedulerRespositoryTest/obj/
src/TaskSchedulerHost/TaskSchedulerApp/bin/
src/TaskSchedulerHost/TaskSchedulerApp/obj/
src/TaskSchedulerHost/.vs/
src/TaskSchedulerHost/TaskSchedulerHost/App/
src/TaskSchedulerHost/TaskSchedulerTest/obj/
src/TaskSchedulerHost/TaskSchedulerTest/bin/
