<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Lexun.Common" version="1.7.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="1.0.0" targetFramework="net45" />
  <package id="System.Web.Mobile" version="1.0.0" targetFramework="net45" />
</packages>